/node_modules
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.vscode
.phpintel
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
composer.lock
package-lock.json
oracle.sqlite
.php_cs.cache
.idea
/public/mix-manifest.json
