@media screen and ( min-width: $break-small ){
    footer{
        width: 100%;
        background-color : $footer-bg;
        &::after{
            content:'';
            display: block;
            clear: both;
        }
        .social-links{
            padding: 20px 0;
            ul.social-icons{
                display: block;
                margin: 20px 25px;
                text-align: center;
                li.icon{
                    display: inline-block;
                    width: 45px;
                    height: 45px;
                    opacity: .4;
                    padding: 5px;
                    &:active, &:hover{
                        opacity: .7;
                        transition-duration: .5s;
                    }
                    a{
                        display: block;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

        }

        .footer-links{
            display: block;
            position: relative;
            &::before{
                content:'';
                position: absolute;
                height: 8px;
                width: 100%;
                background-color: rgba(white, .15);
                top: 5px;

            }
            &::after{
                content: 'دسترسی سریع';
                background-color: $footer-bg;
                color: #b9c2c1;
                position: absolute;
                top: -1px;
                padding: 4px 12px;
                font-size: .75rem;
                right: 50%;
                transform: translateX(50%);
                font-weight: 900;
            }
            ul.links{
                display: block;
                padding: 35px 15px 20px;
                &::after{
                    content:'';
                    display: block;
                    clear: both;
                }

                >li{
                    display: block;
                    float: right;
                    width: 50%;
                    position: relative;
                    color: white;
                    a{
                        padding: 10px 45px 10px 10px;
                        display: block;
                        width: 100%;
                        height: 100%;
                        color: inherit;
                        text-decoration: none;
                        font-weight: 300;
                        font-size: .9rem;
                        &:active{
                            background-color: rgba(white, .07);
                        }
                    }
                }
            }
        }

        .contact{
            display: block;
            position: relative;
            width: 100%;
            padding-top: 50px;
            padding-bottom: 20px;
            &::before{
                content:'';
                position: absolute;
                height: 8px;
                width: 100%;
                background-color: rgba(white, .15);
                top: 5px;

            }
            &::after{
                content: 'راه‌های ارتباطی';
                background-color: $footer-bg;
                color: #b9c2c1;
                position: absolute;
                top: -1px;
                padding: 4px 12px;
                font-size: .75rem;
                right: 50%;
                transform: translateX(50%);
                font-weight: 900;
            }
            .address{
                width: 290px;
                height: 50px;
                margin: 0 auto;
                .icon{
                    margin-top: 5px;
                    width: 40px;
                    height: 40px;
                    border-radius: 100%;
                    background-color:rgba(white, .2);
                    float: right;
                }
                .address-text{
                    float: right;
                    width: 250px;
                    padding-right: 10px;
                    font-size: .85rem;
                    font-weight: 300;
                    color: #c5cdcc;
                    line-height: 26px;
                    >span{
                        margin: 0 5px;
                    }
                }
            }
            .phone-numbers{
                width: 290px;
                height: 50px;
                margin: 30px auto;
                &::after{
                    content:'';
                    display: block;

                }
                .icon{
                    width: 40px;
                    height: 40px;
                    float: right;
                    border-radius: 100%;
                    background-color: rgba(white, .2);
                    transform: translateY(5px);
                }
                .numbers{
                    float: right;
                    width: 240px;
                    padding-right: 25px;
                    padding-left: 10px;
                    &::after{
                        content:'';
                        display: block;
                        clear: both;
                    }
                    div{
                        letter-spacing: 2px;
                        margin-bottom: 3px;
                        text-align: center;
                        color: #dbe0df;
                        width: 33%;
                        float: right;
                        font-weight: 900;
                        font-size: 1.3rem;
                    }
                }

            }
        }

        div.map{
            width: 100%;
            height: 300px;
            background-color: #bbb;

        }


        section.copyright{
            padding: 30px 25px 20px;
            color:#c5cdcc;
            font-size: .77rem;
            span{
                font-weight: 300;
                text-align: center;
                line-height: 28px;
                display: block;
                img{
                    width: auto;
                    height: 19px;
                    display: inline;
                    margin-top: -50%;
                    padding: 0 4px;
                    opacity: .85;
                    animation-name: popup;
                    animation-duration:1s;
                    animation-iteration-count: infinite;
                    transform: translateY(6px);
                    vertical-align: sub;
                }

            }

        }
    }
}

@media screen and ( min-width: $break-medium ) {
    footer{
        .footer-links{
            @include transparency-line();

        }
        .contact{
            @include transparency-line();
            .address{
                display: inline-block;
                width: 50%;
                padding: 0;
                padding-right: 30px;
            }
            .phone-numbers{
                display: inline-block;
                width: 48%;
                margin: 0;
                padding: 0 15px 0 30px;

            }
            .map{
                margin-top: 30px;

            }
        }

    }
}

@media screen and ( min-width: 1024px ){
    footer{
        padding-top: 60px;
        // @include clearfix();
        .social-links{
            display: block;
            width: 7%;
            float: right;
            ul.social-icons{
                display: block;
                padding: 0;
                margin: 0;
                margin-top: 50px;
                @include clearfix();
                li.icon{
                    float: left;
                    display: block;
                }
            }
        }
        .footer-links{
            float: right;
            display: block;
            width: 33%;
            ul.links{
                li{
                    float:none;
                    width: 100%;
                    padding-right: 20px;
                    a{
                        font-weight: 700;
                        color:#bcc6ca;
                        &:hover{
                            background-color: rgba(255, 255, 255, 0.07);
                        }
                    }
                }
            }
        }
        .contact{
            float: right;
            display: block;
            width: 60%;
            .address, .phone-numbers{
                display: block;
                width: 70%;
                margin: 0 auto ;
                text-align: center;
                padding: 0;
                margin-bottom: 15px;
                .icon{
                    float:right;
                    margin-right: 80px;
                    display: inline-block;
                }
                .address-text{
                    float:none;
                    display: inline-block;
                }
                .numbers{
                    float:none;
                    display: inline-block;
                }
            }
            .map{
                width: 75%;
                margin: 30px auto 0;
            }
        }
        .copyright{
            width: 100%;
            display: block;
            float: right;
        }
    }
}

@media screen and ( min-width: $break-medium) and ( max-width: $break-large){
    footer{
        .contact{
            .address{

            }
            .phone-numbers{

            }
        }
    }
}