.form{
	// margin-bottom: 1rem;
	.form-control{
		padding: .5rem .75rem;
		margin: .25rem 1.5rem ;
		.label{
			color: #555;
			font-size: .8rem;
			margin-bottom: .5rem;
			display: block;
		}  // .label
		&.required{
			.label{
				&::after{
					content:'*';
					color: #d45454;
					font-weight: 600;
				}
			}
		}
		input[type="text"], input[type="password"], input[type="email"], textarea.input{
			display: block;
			border: 1px solid #d4d4d4;
			border-radius: .25rem;
			width: 100%;
			line-height: 1.5;
			font-size: .9rem;
			color: #444;
			padding: .25rem .75rem;
			min-height: 3rem;
			outline: none;
			&:hover{
				border-color: darken(#d4d4d4, 10);
			}
			&:focus{
				border: 1px solid #6897b3;
			}
			&[dir="ltr"]{
				direction: ltr;
			}
		} // .input

		textarea.input{
			resize: vertical;
			padding-top: .75rem;
			padding-bottom: .75rem;
		}

		&.error{
			input, textarea{
				border-color: #dc9c9c;
				&:focus, &:hover{
					border-color: #dc9c9c;
				}
			}
		}

		&.valid{
			input, textarea{
				border-color: #67b367;
				&:focus, &:hover{
					border-color: #67b367;
				}
			}
		}

		&.submit{
			display: flex;
			justify-content: flex-end;
			margin-bottom: 0;
			button#submit{
				border:none;
				outline:none;
				color:red;
				padding: 1rem 1.5rem;
				font-size: .9rem;
				background-color: $cm-submit;
				border-radius: .2rem;
				color: white;
				border:2px solid transparent;
				&:hover{
					cursor:pointer;
					background-color: darken($cm-submit,4);
				}
				&:focus{
					border-color: darken($cm-submit,8);
				}
			}
		}

		.messages{
			user-select :none;
			margin: .5rem 0 1rem;
			color: $text-2;
			font-size: .85rem;
			font-weight: 500;
			ul{
				list-style:none;
				li{
					margin-bottom: .5rem;
					transition: all .2s ;
					i{
						color: $text-1;
						font-size: .9rem;
					}
					&.error{
						color: #9e5757;
						i{ color: inherit; }
					}
					&.valid{
						color: #6f9e57;
						i{ color: inherit; }
					}
				}
			}
		}
	} // . form-control

	.form-group{
		display: flex;
		padding: 0 2.25rem;
		.form-control{
			margin: .25rem 0 ;
			padding: .5rem 0;
			&:not(:last-child){
				padding-left: 1rem;
			}
			width: 50%;
		}
	} // .form-group
} // .form