@media screen and ( min-width: $break-medium){
    header.header{
        width : 100%;
        height: 668px;
        background-image: url('./img/svg/header.svg');
        background-repeat: no-repeat;
        background-size: auto 580px;
        background-position: center top;
        div.roban{
            background-color: white;
            margin-right: 60px;
            border-radius: 0 0 16px 16px;
            float: right;
            width: 80px;
            height:180px;
            text-align: center;
            padding-top: 105px;

        }
    }
}

@media screen and ( min-width: $break-large){
}

@media screen and ( min-width: $break-medium) and (max-width: $break-large){
    header.header{
        background-size: auto 380px;
    }
}

@media screen and ( min-width: $break-small ) and ( max-width: $break-medium){
    header.header{
        position: relative;
        width:100%;
        overflow:hidden;
        background: rgb(25,112,103);
        background: linear-gradient(180deg, rgba(25,112,103,1) 0%, rgba(16,167,157,1) 100%); 
        height:100vh;
        img.head-shape{
            display:none;
        }
        div.roban{
            background-color: white;
            position: relative;
            display:block;
            margin: 0 auto;
            height: 130px;
            width: 75px;
            border-radius: 0 0 12px 12px;
            padding-top: 60px;

            >img.logo{
                width: 60px;
                height:60px;
                display: block;
                margin:0 auto ;
            }

        }
    }
}