header.header{
    width : 100%;
    height: 668px;
    img.head-shape{
        height:568px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


@media screen and ( min-width: $break-large){
    header.header{
        background-color:red;
    }
}

@media screen and ( min-width: $break-medium) and (max-width: $break-large){
    header.header{
        background-color:green;
        img.head-shape{
            height:380px;
        }
    }
}

@media screen and ( min-width: $break-small ) and ( max-width: $break-medium){
    header.header{
        position: relative;
        width:100%;
        overflow:hidden;
        background: rgb(25,112,103);
        background: linear-gradient(180deg, rgba(25,112,103,1) 0%, rgba(16,167,157,1) 100%); 
        height:100vh;
        img.head-shape{
            display:none;
        }
        div.roban{
            background-color: white;
            position: relative;
            display:block;
            margin: 0 auto;
            height: 130px;
            width: 75px;
            border-radius: 0 0 12px 12px;
            >img.logo{
                width: 60px;
                height:60px;
                display: block;
                margin:0 auto ;

            }

        }
    }
}