@media screen and ( min-width: $break-medium){
    header.header{
        position: relative;
        width : 100%;
        height: 668px;
        background-image: url('../img/svg/header.svg');
        background-repeat: no-repeat;
        background-size: auto 580px;
        background-position: center top;
        div.roban{
            background-color: white;
            margin-right: 60px;
            border-radius: 0 0 16px 16px;
            float: right;
            width: 80px;
            height:180px;
            text-align: center;
            padding-top: 105px;

        }
        nav{
            position: absolute;
            left:0;
            top: 30px;
            ul{
                display: block;
                @include clearfix();
                li{
                    float: right;
                    list-style: none;
                    position: relative;
                    &::before{
                        content:'';
                        display: block;
                        position: absolute;
                        width: 0;
                        right:50%;
                        transform: translateX(50%);
                        bottom: 2px;
                        height: 3px;
                        transition-duration: .15s;
                        background-color: rgba(white, .7);
                    }
                    &:hover, &:active{
                        &::before{
                            width: 70%;
                            transition-duration: .3s;
                        }
                    }
                    a{
                        display: block;
                        padding: 12px 21px;
                        color:#cbe4e5;
                        font-weight: 600;
                        font-size: .95rem;
                        text-decoration: none;
                        text-shadow: 0 2px 0 #12746b;
                        &:hover, &:active{
                            color: white;
                        }
                    }

                }
            }

        }

        div.slog{
            position: absolute;
            top:70px;
            right:50%;
            transform:translateX(50%);
            // background-color: rgba(white, .2);
            width:385px;
            text-align: center;
            div.main-picture{
                &::before{
                    content:"";
                    background-image: url('../img/svg/main-picture.svg');
                    background-size: 310px auto;
                    background-position: center top;
                    background-repeat: no-repeat;
                    display: block;
                    width:385px;
                    height:265px;
                }
            }
            p.first{
                font-size: 1.5rem;
                font-weight: bold;
                color:#CB9458;
                font-weight: 900;
                font-size: 28px;
                margin-top: 20px;

            }
            p.second{
                margin-top: 20px;
                font-size: 16px;
                color: #868686;
                line-height: 26px;
                font-weight: 600;

            }
            p.bold{
                background-color:#CD9D87;
                color:white;
                border-radius:12px;
                width:320px;
                margin:0 auto;
                padding: 10px 25px;
                margin-top: 25px;
                font-size: 17px;
                font-weight: 700;
                cursor: pointer;

            }
        } 
    }
}

@media screen and ( min-width: $break-large){
    header.header{
        div.slog{
            width:485px;
            top:90px;
            div.main-picture{
                &::before{
                    background-size: 400px auto;
                    width:485px;
                    height:335px;
                }
            }
            p.first{
                font-size: 32px;
            }
            p.second{
                font-size: 18px;

            }
            p.bold{
                width:360px;
                padding: 15px 20px;
                font-size: 19px;
            }
        } 
    }
}

@media screen and ( min-width: $break-medium) and (max-width: $break-large){
    header.header{
        background-size: auto 395px;
        height: 570px;
    }
}
@media screen and ( min-width: $break-medium) and (max-width:$break-large) and ( orientation: landscape){
    header.header{
        height: 550px;
    }
}

@media screen and ( min-width: $break-small ) and ( max-width: $break-medium){
    header.header{
        position: relative;
        width:100%;
        overflow:hidden;
        background: $bg;
        background: linear-gradient(180deg, rgba(25,112,103,1) 0%, rgba(16,167,157,1) 100%); 
        min-height:630px;
        div.roban{
            background-color: white;
            position: relative;
            display:block;
            margin: 0 auto;
            height: 130px;
            width: 75px;
            border-radius: 0 0 12px 12px;
            padding-top: 60px;

            >img.logo{
                width: 60px;
                height:60px;
                display: block;
                margin:0 auto ;
            }

        }
        nav{
            display: none;
            &.active{
                position: fixed;
                right: 0;
                width: 100vw;
                height: calc(100% - 50px);
                background-color: rgba(black , .3);
                display: block;
                z-index: 100;
                top:50px;
                transition-duration: .3s;
                overflow: hidden;
                ul{
                    width: 70%;
                    height: 100%;
                    display: block;
                    background-color: #e9e9e9;
                    color: white;
                    padding-top: 15px;
                    transform: translateX(100%);
                    transition-duration: .3s;
                    box-shadow: -2px 0 4px rgba(black, .15);
                    &.show{
                        transform: translateX(0);
                    }
                    li{
                        display: block;
                        list-style: none;
                        position: relative;
                        &::before{
                            content:'';
                            display: block;
                            position: absolute;
                            width: 28px;
                            height: 4px;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                            background-color: #c2cbd4;
                            transition-duration: .2s;
                        }
                        a{
                            text-decoration: none;
                            color: #617894;
                            font-weight: 600;
                            font-size: 1.1rem;
                            padding: 9px 35px 9px 6px;
                            display: block;
                            width: 100%;
                            transition-duration: .2s;
                        }
                        &:hover, &:active{
                            transition-duration: .2s;
                            &::before{
                                background-color: darken(#c2cbd4, 5);
                                width: 33px;
                            }
                            a{
                                color: darken(#617894, 8);
                                background-color: rgba(black, .06);
                                padding-right: 40px;
                            }

                        }
                    }
                }
            }
        }
        div.hamberger{
            width:50px;
            height:50px;
            // background-color: rgba( #fff, .2);
            float: right;
            margin-right: 5px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                background: url('../img/svg/hamberger.svg') center no-repeat;
                display: block;
                width: 100%;
                height: 100%;
                opacity: .7;
            }
            &:hover, &:active{
                background-color: rgba(white, .15);
                &::before{
                    opacity: .9;
                }
            }
        }
        .search{
            position: relative;
            float: left;
            width: 50px;
            height: 50px;
            margin-left: 5px;
            &::before{
                content: '';
                background: url('../img/svg/search-icon.svg') center/20px no-repeat;
                position: absolute;
                opacity: .7;
                width: 100%;
                height: 100%;
                display: block;
                top: 0;
                left: 0;
            }
            &:hover, &:active{
                background-color: rgba(white, .15);
                &::before{
                    opacity: .9;
                }
            }
        }

        div.slog{
            width:100%;
            margin-top: 45px;
            text-align: center;

            div.main-picture{
                width:100%;
                margin:0 auto;
                &::before{
                    content:'';
                    display: block;
                    background-image: url('../img/svg/main-picture.svg');
                    background-repeat: no-repeat;
                    background-position: center top;
                    background-size: 240px auto;
                    width:100%;
                    height:auto;
                    min-height:210px;
                }
            }
            p.first{
                margin-top: 20px;;
                font-size: 24px;
                font-weight:900;
                color:#dca870;
                text-shadow: 0 1px 2px rgba(black, .15);
                letter-spacing: -1px;

            }
            p.second{
                font-size: 16px;
                color: rgba(white, .8);
                padding:0 25%;
                line-height:26px;
                margin-top: 10px;
                font-weight: 300;

            }
            p.bold{
                width:280px;
                margin:0 auto;
                padding: 12px 20px;
                font-size: 15px;
                font-weight: 700;
                color: white;
                background-color: #CD9D87;
                border-radius: 16px;
                margin-top: 15px;
                cursor: pointer;    
                box-shadow: 0 0 9px rgba(218, 188, 175, 0.72);
                border: 1px solid #d0afa0;
            }
        } 
    }


}

@media screen and (min-width: $break-medium+1 ){
    .fixed-header{
        display: none;
    }

}
@media screen and (max-width: $break-medium ){
    .fixed-header{
        position: fixed;
        top: -100%;
        width: 100%;
        height: 50px;
        z-index: 99;
        box-shadow: 0 3px 4px rgba(black , .15);
        background-color: $bg;
        transition-duration: .3s;
        @include clearfix();
        .hamburger{
            width: 50px;
            height: 50px;
            float: right;
            margin-right: 5px;
            position: relative;
            &::after{
                content: '';
                background: url('../img/svg/hamberger.svg') no-repeat center;
                top: 0;
                right: 0;
                opacity:.7;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            &:hover, &:active{
                background-color: rgba(white, .1);
                &::after{
                    opacity: 1;
                }
            }
        }
        .logo{
            position: absolute;
            display: block;
            right: 50%;
            transform: translateX(50%);
            width: auto;
            min-width: 50px;;
            height: 35px;
            background-color: rgba(white, .9);
            // @include clearfix();
            margin-top: 7px;
            border-radius: .5rem;
            &::before{
                content:'';
                background: url('../img/svg/Logo.svg') center no-repeat ;
                background-size: 24px auto;
                display: block;
                float: right;
                width: auto;
                height: 100%;
                width: 100%;
            }
        }
        .search-btn{
            width: 50px;
            height: 50px;
            float: left;
            margin-left: 5px;
            position: relative;
            &::after{
                content: '';
                background: url('../img/svg/search-icon.svg') center/20px no-repeat ;
                top: 0;
                left: 0;
                opacity:.7;
                position: absolute;
                width: 100%;
                height: 100%;
            }
            &:hover, &:active{
                background-color: rgba(white, .1);
                &::after{
                    opacity: 1;
                }
            }
        }
    }
}