.scrollTop{
    position: fixed;
    display: block;
    width: 55px;
    height: 45px;
    bottom: 20px;
    right: 20px;
    border-radius: .5rem;
    background:url('../img/svg/goup.svg') center no-repeat;
    background-size: 18px auto;
    border:2px solid rgba(black, .09);
    background-color: rgba(black, .5);
    opacity: .4;
    &:hover{
        cursor: pointer;
        opacity: .9;
    }
}