// media query for small
@media screen and (min-width: $break-small){

} // media small end


@media screen and ( min-width: $break-medium ){
    #services{
        max-width: 1440px;
        margin: 0 auto;
        padding-top: 4.5rem;
        user-select: none;
        margin-bottom: 7rem;
        .head-section{
            text-align: center;
            position: relative;
            margin-bottom: 3rem;
            span{
                color: #7d7d7d;
                border-bottom: 4px solid #c6c6c6;
                font-size: .9rem;
                font-weight: 900;
                padding: 0 .25rem .2rem;
            }
            &::after{
                position: absolute;
                top: 100%;
                content:'';
                width: 0;
                height: 0;
                border:8px solid transparent;
                border-top-color: #c6c6c6;
                right: 50%;
                transform: translateX(50%) translateY(8px);
            }

        } // .head-section

        .body{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .service{
                background-color: #fff;
                width: 465px;
                min-height: 220px;
                border: 1px solid #d6d6d6;
                border-radius: .2rem;
                box-shadow: 0 2px 5px 1px #e4e4e4;
                display: flex;
                padding: 1.25rem ;
                margin-bottom: 1.5rem;
                &:not(:nth-child(3n)){
                    margin-left: 1rem;
                }
                &:last-child{
                    margin-left: 0rem;
                }
                &:hover{
                    border-color: darken(#d6d6d6, 5);
                    box-shadow: 0 3px 7px -1px darken(#e4e4e4,4);
                }
                .thumbnail{
                    padding-left: .8rem;
                    border-left: 2px solid #e4e4e4;
                    margin-left: .8rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 100px;
                        height: 100px;
                        display: block;
                    }
                } // .thumbnail

                .main{
                    flex:1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .title{
                        font-size: 1.2rem;
                        color: #666;
                        padding: .25rem 0;
                        text-align: center;
                        font-weight: 900;
                        margin-bottom: .5rem;
                    }

                    .excerpt{
                        flex:1;
                        font-size: .8rem;
                        text-align: justify;
                        color: #737373;
                        line-height: 1.2rem;
                        overflow-y: hidden;
                        max-height: 6.2rem;
                        padding: .25rem .5rem;
                        margin-bottom: .25rem;
                    }

                    .more{
                        background-color: blue;
                        color: white;
                        border-radius: .2rem;
                        transition: opacity .25s ease-out;
                        opacity:.7;
                        a{
                            text-decoration: none;
                            color: inherit;
                            padding: .65rem 0;
                            font-size: .75rem;
                            display: block;
                            text-align: center;
                        }
                        &:hover{
                            opacity: .85;
                        }
                    }
                } // .main
            } // .service
        } // .body
    } // #services

} // media min:medium end

@media screen and ( resolution: 96dpi ){
    section#services{
        &::before{
            opacity: .8;
        }
    }
}