// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "tahoma", "arial", 'Nunito', sans-serif;
$main-font : 'iranyekan';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// services area
$services-pink-dark : rgb(176, 53,141);
$services-pink-light: rgb(233, 74, 141);
$services-orange-dark : #EC691F;
$services-orange-light : #FBC14E;
$services-red-light: #ED4147;
$services-red-dark: #AC3A3A;
$services-blue-light: #86CCCB;
$services-blue-dark:#4C6BB1;
$services-green-light: #4AE9AC ;
$services-green-dark: #11AC69 ;


// footer
$footer-bg: #0A2E2A;