*, *::before, *::after{
	font-family: 'IRYekan';
	body {
		font-family: 'IRYekan';
		font-weight: 800 !important;
	}	
}

.user-select{
    user-select:none;
}


/**
 * Typography Helpers
 */

 .slim-text{
    font-size: 1rem ;
    line-height: 1rem;
    font-weight: 300;
    color: #666666;
 }