@font-face {
	font-family: 'IRYekan';
	src: url('../fonts/IranYekan/Regular/IRYekan.eot');
	src: url('../fonts/IranYekan/Regular/IRYekan.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/IranYekan/Regular/IRYekan.woff') format('woff'),
		 url('../fonts/IranYekan/Regular/IRYekan.ttf') format('truetype'),
		 url('../fonts/IranYekan/Regular/IRYekan.svg#IRYekan') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'IRYekan';
	src: url('../fonts/IranYekan/Medium/IRYekan-Medium.eot');
	src: url('../fonts/IranYekan/Medium/IRYekan-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/IranYekan/Medium/IRYekan-Medium.woff') format('woff'),
		 url('../fonts/IranYekan/Medium/IRYekan-Medium.ttf') format('truetype'),
		 url('../fonts/IranYekan/Medium/IRYekan-Medium.svg#IRYekan') format('svg');
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'IRYekan';
	src: url('../fonts/IranYekan/Bold/IRYekan-Bold.eot');
	src: url('../fonts/IranYekan/Bold/IRYekan-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/IranYekan/Bold/IRYekan-Bold.woff') format('woff'),
		 url('../fonts/IranYekan/Bold/IRYekan-Bold.ttf') format('truetype'),
		 url('../fonts/IranYekan/Bold/IRYekan-Bold.svg#IRYekan') format('svg');
	font-style: normal;
	font-weight: 800;
}
