.form{
    padding: 0 2rem;
    .form-control{
        margin-bottom: 1rem;
        .label{
            font-size: .85rem;
            font-weight: 600;
            color: #777;
            margin-bottom: .5rem;
        }
        .q-input{
            font-size: 1.2rem;
            input{
            }
        }
        &.submit{
            button[type="submit"]{
                font-weight: 600;
                float: left #{"/* rtl:ignore */"};
            }
        }
        
        &::after{
            content:'';
            display: block;
            clear: both;
        }
        &.error, &.message{
            ul{
                display: block;
                margin: 0;
                padding: 0;
                &::after{
                    content:'';
                    display: block;
                    clear:both;
                }
                li{
                    padding-right: .75rem #{"/* rtl:ignore */"};
                    display: block;
                    font-size: .85rem;
                    color:$rp-error;
                    font-weight: 600;
                    margin-bottom: .25rem #{"/* rtl:ignore */"};
                }
            }
            &:not(.error){
                li{
                    color : $rp-success;
                }
            }
        } // .error , .message
    } // .form-control
    
    .form-control + .error, .form-control + .message{
        margin-top: -1.5rem;
    }
    
} // .form